* {
    box-sizing: border-box;
    margin: 0;
}

.main-grid {
    display: grid;
    grid: 8vh 12vh 80vh / 1fr 3.5fr;
}




/* Search-bar */
.search-bar {
    background-color: #f2d7a6;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 16fr 1fr 1fr 2fr;
    place-items: center start;
    font-size: 1.2rem;
}

label,
.icon {
    height: 25px;
    width: auto;
}

label {
    justify-self: end;
}

form {
    display: grid;
    grid-template-columns: 5% 95%;
    place-items: center start;
    gap: 10px;
    width: 100%;
}

input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
    background-color: #DB7C26;
}

input[type="search"]:hover,
input[type="search"]:focus {
    background-color: #D8572A;
}

.account-circle {
    height: 45px;
}





/* Logo and sidebar */
.logo,
.sidebar {
    background-color: #C32F27;
}

#logo {
    height: 50px;
    width: auto;
    filter: invert(99%) sepia(26%) saturate(921%) hue-rotate(315deg) brightness(100%) contrast(92%);
}

.logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(245, 231, 210);
    padding-left: 25px;
    display: grid;
    grid-auto-flow: column;
    place-content: center start;
    align-items: center;
    gap: 10px;
}


.sidebar {
    grid-row: span 2;
    padding: 35px;
    font-size: 1.5rem;
    color: rgb(245, 231, 210);

    display: grid;
    grid: repeat(12, 40px) / 40px 1fr;
    gap: 10px;
    align-items: center;
}

.sidebar-icon {
    height: 30px;
    width: auto;
    filter: invert(99%) sepia(26%) saturate(921%) hue-rotate(315deg) brightness(100%) contrast(92%);
}






.profile-bar {
    background-color: #f2d7a6;
}

.content-panel {
    background-color: #DB7C26;
}

