* {
    box-sizing: border-box;
    margin: 0;
}

.main-grid {
    display: grid;
    grid: 8vh 12vh 80vh / 1fr 3.5fr;
}




/* Search-bar */

.search-bar {
    background-color: #f2d7a6;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 16fr 1fr 1fr 2fr;
    place-items: center start;
    font-size: 1.2rem;
    z-index: 15;
    min-height: 60px;
}

label,
.icon {
    height: 25px;
    width: auto;
}

label {
    justify-self: end;
}

form {
    display: grid;
    grid-template-columns: 5% 95%;
    place-items: center start;
    gap: 10px;
    width: 100%;
}

input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
    width: 80%;
    height: 35px;
    border-radius: 18px;
    padding-left: 20px;
    background-color: #DB7C26;
    color: rgb(245, 231, 210);
    font-size: 1.2rem;
}

input[type="search"]:hover,
input[type="search"]:focus {
    background-color: #cb7524;
}

.account-circle {
    height: 55px;
}





/* Logo and sidebar */

.logo,
.sidebar {
    background-color: #C32F27;
}

#logo {
    height: 50px;
    width: auto;
    filter: invert(99%) sepia(26%) saturate(921%) hue-rotate(315deg) brightness(100%) contrast(92%);
}

.logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(245, 231, 210);
    padding-left: 25px;
    display: grid;
    grid-auto-flow: column;
    place-content: center start;
    align-items: center;
    gap: 10px;
}


.sidebar {
    grid-row: span 2;
    padding: 35px;
    font-size: 1.5rem;
    color: rgb(245, 231, 210);

    display: grid;
    grid: repeat(12, 40px) / 40px 1fr;
    gap: 10px;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(245, 231, 210)
}

.sidebar-icon {
    height: 30px;
    width: auto;
    filter: invert(99%) sepia(26%) saturate(921%) hue-rotate(315deg) brightness(100%) contrast(92%);
}






/* Profile bar */

.profile-bar {
    background-color: #f2d7a6;
    box-shadow: 0px 6px 15px rgba(92, 92, 92, 0.556);
    min-height: 100px;
    padding-right: 60px;
    padding-left: 20px;
    z-index: 10;

    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 1.5fr);
    place-items: center;
}

.big-account-circle {
    height: 100px;
    width: auto;
}

.profile-naming {
    justify-self: start;
}

.profile-naming > p {
    font-weight: bold;
}

.action-btn {
    appearance: none;
    border: none;
    background-color: #C32F27;
    color: rgb(245, 231, 210);
    font-size: 1rem;
    font-weight: 800;
    width: 140px;
    height: 40px;
    border-radius: 20px;
}

.action-btn:hover {
    background-color: #b52b24;
}







/* Content panel */

.content-panel {
    background-color: #db7e26ef;
    padding: 30px 20px;
    z-index: 5;

    display: grid;
    grid: 1fr 1fr / 2.5fr 1fr;
    gap: 15px;
}

.projects {
    grid-row: span 2;
    height: 100%;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 5px;
    height: 25px;
}

.card {
    background-color: #f2d7a6;
    padding: 20px;
    border-radius: 12px;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.project-grid {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 25px;
    height: 95.8%;
}

.card-icons {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.card-icon-container {
    justify-self: end;
    align-self: center;
}

.announcement-card {
    height: 91.5%;
    padding: 30px;
    font-size: 0.9rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.announcement {
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

.announcement:last-child {
    border-bottom: none;
}


.trending-card {
    height: 91.5%;

    display: grid;
    grid: repeat(4, 1fr) / 1fr 3fr;
    align-items: center;
}

.trending-card > img {
    justify-self: center;
}

.other-user-name {
    font-size: 1.2rem;
}

.trending-card > .description {
    font-size: 0.8rem;
    color: grey;
}